<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container>
    <alias alias="ILogger" type="Iron.GPS.Logging.ILogger,Iron.GPS.Logging"/>
    <alias alias="IApplicationDataRepository" type="Iron.GPS.Repositories.Interfaces.IApplicationDataRepository,Iron.GPS.Repositories"/>
    <alias alias="ApplicationDataRepository" type="Iron.GPS.Repositories.ApplicationDataRepository,Iron.GPS.Repositories"/>
    
    <alias alias="IApplicationDataService" type="Iron.GPS.Services.Interfaces.IApplicationDataService,Iron.GPS.Services"/>
    <alias alias="ApplicationDataService" type="Iron.GPS.Services.ApplicationDataService,Iron.GPS.Services"/>
    <!--<alias alias="LoggerImp" type=""/>
    
    <register type="ILogger" mapTo="LoggerImp"/>-->
  </container>
</unity>