<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <!--<alias alias="ILogger" type="Iron.GPS.Logging.ILogger,Iron.GPS.Logging"/>-->
  <!--<alias alias="IApplicationDataRepository" type="Iron.GPS.Repositories.Interfaces.IApplicationDataRepository,Iron.GPS.Repositories.Interfaces"/>
  <alias alias="ApplicationDataRepository" type="Iron.GPS.Repositories.ApplicationDataRepository,Iron.GPS.Repositories"/>-->


<alias alias="IApplicationDataRepository" type="Iron.GPS.Repository.Interfaces.IApplicationDataRepository,Iron.GPS.Repositories.Interfaces"/>
  <alias alias="ApplicationDataRepository" type="Iron.GPS.Repositories.ApplicationDataRepository,Iron.GPS.Repositories"/>
  
  <alias alias="IApplicationDataService" type="Iron.GPS.Services.Interfaces.IApplicationDataService,Iron.GPS.Services.Interfaces"/>
  <alias alias="ApplicationDataService" type="Iron.GPS.Services.ApplicationDataService,Iron.GPS.Services"/>

  
  <container>
    <register type="IApplicationDataRepository" mapTo="ApplicationDataRepository"/>
    <register type="IApplicationDataService" mapTo="ApplicationDataService"/>
    <!--<alias alias="LoggerImp" type=""/>
    
    <register type="ILogger" mapTo="LoggerImp"/>-->
  </container>
</unity>